.header {
  color: #fff;
  padding: 10px;
  padding-top: 10px;
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 20px;
  padding-top: 5%;
  width: 80%;
  display: flex;
  gap: 1rem;
}

.header > span {
  display: flex;
  align-items: center;
  font-size: 80px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .header > span,
  .header {
    font-size: 140%;
  }
}
