.article-title {
    font-size: x-large !important;
}

.article-description {
    font-size: medium !important;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

}